:root {
    --sm: 14px;
    --md: 16px;
    --lg: 20px;
}

body {
    font-family: "Montserrat", sans-serif;


    background: #3494E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

section {
    display: grid;
    justify-items: center;
    width: 100%;


}

.contenedor {
    position: absolute;
    width: 365px;
    height: 560px;
    background-color: whitesmoke;
    box-sizing: border-box;
    border-radius: 5%;
    overflow: hidden;
    margin-top: 3%;
    border: 5px solid dimgrey;

}

.portada {
    position: absolute;
    width: 100%;
    height: 35%;
    z-index: 0;

}

.logo {
    position: absolute;
    width: 28%;
    height: 18%;
    border-radius: 50%;

    border: 5px solid whitesmoke;
    top: 25%;
    left: 34%;
    z-index: 1;

}

.titulo {
    position: relative;
    text-align: center;
    font-size: var(--lg);
    top: 44%;


}

.subtitulo {
    position: relative;
    text-align: center;
    font-size: var(--md);
    top: 42%;
    color: dimgrey;


}

.datos {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    top: 68%;

}

.datos div {
    justify-content: center;
    font-size: var(--md);
}

.redes {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    font-size: var(--sm);
    font-weight: bold;

    top: 80.8%;
}

.redes div {
    display: flex;
    place-items: center;
    width: 100%;
    height: 58px;

    justify-content: space-evenly;

    border: 2px solid dimgray;
}

.iconel {

    width: 15%;
    height: 40%;

}






.primary-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;


    color: white;
    background-color: lightgreen;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    margin-top: 0;
    font-size: var(--md);

}

.primary-button:hover {
    color: dimgrey;
    border: 3px solid dimgrey;

}